<section class="container-kitchen flexbox-column" >
  <div class="menu-orders flexbox boxshadow">
    <button class="btn pending-orders">Pedidos pendentes</button>
    <button class="btn completed-orders">Pedidos conluídos</button>
  </div>
  <section class="order-container boxshadow flexbox-column">
    <span class="red-title order-number">Pedido número: 123 </span>
    <div class="client-table-name flexbox">
      <div class="client-table">
        <span>Mesa:</span>
        <span class="data-client"> 001</span>
      </div>
      <div class="client-name">
        <span>Cliente:</span>
        <span class="data-client"> jefferson almeida</span>
      </div>
    </div>
    <span class="waiter-name">Atendente: Gisele</span>
    <div class="order-details flexbox">
      <div class="order-title flexbox-column">
        <span class="red-title title-order">Pedido</span>
        <span class="order-data">Titulo1</span>
      </div>
      <div class="order-quantity flexbox-column">
        <span class="red-title">Quant.</span>
        <span class="order-data quantity-data">1</span>
      </div>
    </div>
    <button class="btn-ready-orders">Pronto</button>
  </section>
</section>