<section class="container-kitchen flexbox-column" >
  <div class="menu-orders flexbox boxshadow">
    <button (click)="showPendingOrders = true" [ngClass]="{'active': showPendingOrders === true}" class="btn pending-orders">Pedidos pendentes</button>
    <button (click)="showPendingOrders = false" [ngClass]="{'active': showPendingOrders === false}" class="btn completed-orders-btn">Pedidos conluídos</button>
  </div>
  <section *ngIf="showPendingOrders">
    <div *ngIf="showImage" class="no-orders flexbox-column">
      <img class="no-orders-img" src="../../../assets/overcooked-no-orders.png" alt="overcooked chef">
      <span class="no-orders-span">Sem pedidos no momento!</span>
    </div>
    <section *ngFor="let order of pendingOrders" class="order-container boxshadow flexbox-column">
      <span class="red-title order-number">Pedido número: {{ order.id }}</span>
      <div class="client-table-name flexbox">
        <div class="client-table">
          <span>Mesa:</span>
          <span class="data-client">{{ order.table }}</span>
        </div>
        <div class="client-name">
          <span>Cliente:</span>
          <span class="data-client">{{ order.client }}</span>
        </div>
      </div>
      <span class="waiter-name">Atendente: {{ order.waiter }}</span>
      <div class="title-quant-order flexbox">
        <span class="red-title">Pedido</span>
        <span class="red-title">Quant.</span>
      </div>
      <div *ngFor="let product of order.products" class="order-details flexbox">
        <span class="order-data">{{ product.name }}</span>
        <span class="order-data quantity-data">{{ product.quantity }}</span>
      </div>
      <button (click)="markOrderAsCompleted(order)" class="btn-ready-orders">Pronto</button>
    </section>
  </section>
  <section *ngIf="!showPendingOrders" class="completed-orders grid">
    <div *ngFor="let order of completedOrders" class="order-container boxshadow flexbox-column">
      <span class="red-title order-number">Pedido número: {{ order.id }}</span>
      <div class="client-table-name flexbox">
        <div class="client-table">
          <span>Mesa:</span>
          <span class="data-client">{{ order.table }}</span>
        </div>
        <div class="client-name">
          <span>Cliente:</span>
          <span class="data-client">{{ order.client }}</span>
        </div>
      </div>
      <span class="waiter-name">Atendente: {{ order.waiter }}</span>
      <div class="title-quant-order flexbox">
        <span class="red-title">Pedido</span>
        <span class="red-title">Quant.</span>
      </div>
      <div *ngFor="let product of order.products" class="order-details flexbox">
        <span class="order-data">{{ product.name }}</span>
        <span class="order-data quantity-data">{{ product.quantity }}</span>
      </div>
      <span class="time-completed">Concluído em: {{ order.completionTime }}</span>
    </div>
  </section>

</section>