.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbox-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxshadow{
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.226);
    background-color: var(--lightGray);
    border-radius: 10px;
}

select{
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid var(--firstColor);
    color: var(--firstColor);
    padding: 5px;
    font-size: .9em;
    margin: 20px 0px;
}

.employee-data{
    width: 300px;
    gap: 20px;
}

.employee-item{
    width: 100%;
    align-items: start;
    padding: 10px;
    gap: 5px;
    margin-bottom: 10px;
}

.div-data-user{
    width: 100%;
}

.div-data-user span {
    padding-right: 4px;
}

.user-data{
    font-weight: 300;
    font-size: 1em;
    background-color: transparent;
    border: none;
    width: 80%;
}

.user-edit{
    font-size: 1em;
    padding: 2px;
    font-weight: 400;
}

.edit-delete-icons{
    margin-top: 5px;
    justify-content: space-around;
    width: 100%;
    max-width: 300px;
}

.edit-delete-icons img{
    height: 30px;
}

.confirmation-box{
    position: absolute;
    background-color: #FFFFFF;
    width: 280px;
    height: 135px;
    align-self: center;
    padding: 10px;
    gap: 20px;
    border: 2px solid var(--secondColor);
}

.btns{
    gap: 20px;
}

.save-btn, .cancel-btn{
    background-color: var(--btnReadyOrder);
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 100px;
    color: white;
    font-size: .9em;
    margin-bottom: 10px;
    padding-bottom: 2px;
}

.cancel-btn{
    background-color: var(--secondColor);
}

.employee-register{
    width: 100%;
    margin-top: 10px;
}

form input{
    height: 45px;
    width: 250px;
    text-align: center;
    font-size: 1em;
    background-color: transparent;
    border: none;
}

form input:focus{
    outline: none;
}

form  input::placeholder{
    color: #00000073;
}

.input-icon-container, .span-role{
    background-color: var(--bgOrder);
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.input-icon-container img {
    height: 20px;
}

.select-the-position{
    margin-bottom: 10px;
}

.employee-position{
    width: 100%;
    margin-bottom: 20px;
    gap: 20px;
}

.employee-position span{
    padding: 10px;
}

.employee-position-active{
    color: #FFFFFF;
    background-color: var(--secondColor);
}

.employee-position-active:hover, .span-role:hover{
    cursor: pointer;
}

.btn-register{
    height: 45px;
    width: 220px;
    background-color: var(--firstColor);
    border-radius: 20px;
    color: #FFFFFF;
    transition: .4s ease-in-out;
    font-size: 1em;
    border: none;
}

.btn-register:hover{
    background-color: var(--secondColor);
}


@media screen and (min-width: 900px){
    .employee-data{
        display: grid;
        grid-template-columns: 300px 300px 300px;
    }
}