.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbox-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxshadow{
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.226);
    background-color: var(--lightGray);
    border-radius: 10px;
}

.ready-orders-container {
    background-color: var(--bgColor);
    width: 100%;
    position: relative;
    z-index: 1;
}

.close-icon{
    align-self: flex-end;
    margin: 5px 5px 0px 0px;
}

.ready-orders-container h2 {
    color: var(--secondColor);
    margin: 15px 0px;
}

.order-container{
    background-color: var(--bgOrderKitchen);
    min-width: 240px;
    margin: 20px 0px;
    gap: 10px;
    padding: 0px 5px;
}

.order-number{
    margin-top: 10px;
}

.red-title{
    color: var(--secondColor);
    font-size: 1.1em;
}

.client-table-name{
    justify-self: flex-start;
    width: 300px;
    justify-content: space-between;
}

.data-client{
    font-weight: 300;
    padding-left: 4px;
}

.waiter-name{
    align-self: flex-start;
}

.title-quant-order{
    width: 100%;
    justify-content: space-between;
}

.order-details{
    justify-content: space-between;
    width: 100%;
}

.order-data{
    color: var(--btnReadyOrder);
    background-color: #FFFFFF;
    padding: 3px;
    border-radius: 5px;
    width: 160px;
    font-weight: 300;
}

.quantity-data{
    width: 60px;
    text-align: center;
}

.time-completed{
    color: var(--secondColor);
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

button{
    background-color: var(--btnReadyOrder);
    color: #FFFFFF;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    width: 150px;
}

@media screen and (min-width: 1000px){
    .grid{
        display: grid;
        gap: 20px;
        grid-template-columns: 300px 300px 300px;
    }

    .client-table-name{
        padding: 0px 5px;
    }

}
