<section class="container-order flexbox-column">
  <img (click)="onCloseClick()" class="close-icon" src="../../../assets/close.svg" alt="icon-close">
  <h3>Resumo do pedido</h3>
  <div class="client-data-inputs flexbox-column">
    <label for="client">Cliente:</label>
    <input type="text" placeholder="Insira o nome do cliente" id="client">
    <div class="select-table flexbox">
      <span>Mesa:</span>
      <select name="table" id="table">
        <option value="001">001</option>
        <option value="002">002</option>
        <option value="003">003</option>
        <option value="004">004</option>
      </select>
    </div>
    <div class="waiter-name flexbox">
      <span>Atendente:</span>
      <span>Gisele</span>
    </div>
  </div>
  <div *ngFor="let product of addedProducts" class="product-container boxshadow flexbox">
    <div class="order-summary flexbox">
      <div class="product-name-price flexbox-column">
        <span>{{ product.product.name }}</span>
        <span class="product-price">{{ product.product.price }}</span>
      </div>
      <div class="product-quantities flexbox-column">
        <span>Qnt.</span>
        <span> {{ product.quantity }}</span>
      </div>
      <img [src]="product.product.image" alt="product image">
    </div>
    <div class="delete-product flexbox">
      <img (click)="ngOnDestroy()" src="../../../assets/icon-trash.svg" alt="icon trash">
    </div>
  </div>
  <div class="container-total-order boxshadow flexbox-column">
    <div class="subtotal flexbox">
      <span class="span-gray">Subtotal</span>
      <span>R$ {{ calculateSubtotal() | number: '1.2-2'}}</span>
    </div>
    <div class="tax10 flexbox">
      <span class="span-gray">Tax 10%</span>
      <span>R$ {{ calculateTax(calculateSubtotal()) | number: '1.2-2'}}</span>
    </div>
    <div class="total-price flexbox">
      <span>Total</span>
      <span>R$ {{calculateTotal(calculateSubtotal(), calculateTax(calculateSubtotal())) | number: '1.2-2'}}</span>
    </div>
  </div>
  <button>Enviar Pedido</button>
  <div class="circle-1"></div>
  <div class="circle-2"></div>
</section>
