.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo{
    height: 50px;
    width: 60px;
}

header p, section p {
    color: var(--secondColor);
}

.icons img {
    height: 40px;
    margin-right: 5px;
}

.order-overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--bgColor);
}