.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo-text{
    height: 20px;
}

.logo{
    height: 40px;
    width: 40px;
}

header p, section p {
    color: var(--secondColor);
}

.icons img {
    height: 30px;
    margin-right: 5px;
}

.icons img:hover{
    cursor: pointer;
}

.order-overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--bgColor);
    overflow-y: auto;
}

@media screen and (min-width: 800px){
    .header{
        padding-bottom: 5px;
        margin-bottom: 0px; 
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(0.25turn, var(--firstColor),var(--bgOrderKitchen), var(--secondColor));
        border-image-slice: 1;
    }

    .logo-text{
        height: 35px;
    }
    
    .logo{
        height: 50px;
        width: 50px;
    }

    .icons img {
        height: 40px;
        margin-right: 5px;
    }
}

@media screen and (min-width: 900px){
    .icon-cart{
        display: none;
    }
}