.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    justify-content: start;
    margin-bottom: 50px;
}

.logo{
    height: 50px;
    width: 60px;
}

header p, section p {
    color: var(--secondColor);
}