<header class="flexbox header">
    <div class="flexbox div-logo">
        <img src="../../../assets/logo-novo.png" alt="logo" class="logo">
        <img src="../../../../assets/logo-text.png" alt="burguerCooked" class="logo-text">
    </div>
    <div *ngIf="isLoggedIn && userEmail === 'garconete@burguercooked.com'" class="icons flexbox">
        <img (click)="toggleOrderComponent(true)" src="../../../../assets/icon-cart.svg" alt="cart-icon">
        <img (click)="logout()" src="../../../../assets/icon-logout.svg" alt="logout-icon">
    </div>
    <div *ngIf="isLoggedIn && userEmail === 'cozinha@burguercooked.com' || isLoggedIn && userEmail === 'admin@burguercooked.com' " class="icons flexbox">
        <img (click)="logout()" src="../../../../assets/logout-icon-3.svg" alt="logout-icon">
    </div>
    <div *ngIf="showOrderComponent" class="order-overlay">
        <app-order (closeOrder)="toggleOrderComponent(false)"></app-order>
    </div>
</header>
