.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbox-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container-login{
    position: relative;
}

section{
    padding: 0px 10px;
}

section img {
    height: 170px;
    margin: 40px 0px 20px 0px;
}

section p {
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    color: var(--secondColor);
}

form input{
    height: 45px;
    width: 300px;
    text-align: center;
    font-size: 1em;
    background-color: var(--bgOrder);
    border-radius: 10px;
    border: none;
}

form input:focus{
    outline: 2px solid var(--firstColor);
}

form  input::placeholder{
    color: #00000073;
}

.btn-start-order{
    display: flex;
    height: 45px;
    width: 220px;
    background-color: var(--firstColor);
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    transition: .4s ease-in-out;
    font-size: 1em;
    border: none;
}

.btn-start-order:hover{
    background-color: var(--secondColor);
}

.erro-login{
    color: #ff0000;
}