.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxshadow{
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.226);
    background-color: var(--lightGray);
    border-radius: 10px;
}

.container-menu{
    padding: 0px 5px;
    min-height: 100vh;
}

.sub-container-menu{
    position: relative;
}

.menu-title{
    margin-left: 10px;
    color: var(--secondColor);
    font-size: 1.2em;
}

.menu{
    height: 80px;
    margin-top: 5px;
    gap: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.circle-1, .circle-2{
    position: absolute;
    top: -20px;
    left: -60px;
    z-index: -1;
    background-color: #e1732e44;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.circle-2{
    top: 80px;
    left: -60px; 
}

.btn{
    height: 45px;
    width: 130px;
    border-radius: 10px;
}

.breakfast, .lunch{
    border: 1px solid var(--firstColor);
    font-size: 16px;
    font-weight: 400;
    color: var(--firstColor);
    background-color: #FFFFFF;
}

.active{
    background-color: var(--firstColor);
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

.menu-lunch-breakfast{
    margin: 20px 0px;
    justify-content: space-between;
    align-items: start;
    padding: 7px;
}

.information-product{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}

.product-titles{
    margin-bottom: 15px;
}

.product-name{
    font-size: 1em;
    font-weight: 400;
}

.product-details{
    font-size: .7em;
    font-weight: 300;
}

.product-price{
    color: var(--secondColor);
}

.product-pice-quantities{
    align-self: flex-start;
    gap: 20px;
}

.product-quantities img {
    height: 23px;
}

.product-quantities .icon-plus{
    height: 25px;
}

.product-quantities span{
    margin: 0px 10px;
}

.product-img{
    height: 85px;
    width: 65px;
}

/* Responsive */

@media screen and (min-width: 800px){
    .container-menu{
        display: flex;
        justify-content: center;
    }

    .sub-container-menu{
        display: flex;
        align-items: center;
        justify-content: top;
        flex-direction: column;
    }

    .menu-title{
        font-size: 1.5em;
        margin-top: 20px;
    }

    .menu{
        width: 350px;
        margin-bottom: 50px;
    }

    .grid{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        gap: 15px;
    }

    .menu-lunch-breakfast{
        display: flex;
        flex-direction: column-reverse;
    }

    .product-img{
        align-self: center;
        margin-bottom: 10px;
    }

    .menu-lunch-breakfast .information-product{
        gap: 5px;
    }

    .circle-1, .circle-2 {
        display: none;
    }
}

@media screen and (min-width: 900px){

    .container-menu{
        gap: 20px;
        padding-left: 30px;
        justify-content: space-between;
    }

    .menu-title{
        margin-top: 20px;
    }

    .div-app-order{
        border-left: 2px solid transparent;
        border-image: linear-gradient(to bottom, var(--firstColor),var(--bgOrderKitchen), var(--secondColor));
        border-image-slice: 1;
        padding: 0px 20px;
    }

    .grid{
        grid-template-columns: 150px 150px 150px;
    }
}

@media screen and (min-width: 1050px) {
    .grid{
        grid-template-columns: 155px 155px 155px 155px;
    }
}

@media screen and (min-width: 1120px) {
    .grid{
        grid-template-columns: 170px 170px 170px 170px;
    }
}

@media screen and (min-width: 1310px) {
    .grid{
        grid-template-columns: 200px 200px 200px 200px;
    }

    .container-menu{
        margin-right: 200px;
    }
}

@media screen and (min-width: 1700px) {
    .grid{
        grid-template-columns: 200px 200px 200px 200px 200px;
    }
}