<section class="container-menu">
  <section class="sub-container-menu">
    <span class="menu-title">Menu</span>
    <div class="menu flexbox boxshadow">
      <button (click)="filterProductsByType('Café da manhã')" [ngClass]="{'active': currentProductType === 'Café da manhã'}" class="btn breakfast">Café da manhã</button>
      <button (click)="filterProductsByType('Almoço')" [ngClass]="{'active': currentProductType === 'Almoço'}" class="btn lunch">Almoço</button>
    </div>
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <section class="grid">
      <section *ngFor="let product of filteredProducts" class="menu-lunch-breakfast boxshadow flexbox">
        <section class="information-product">
          <div class="product-titles">
            <h3 class="product-name">{{product.id}}. {{product.name}}</h3>
            <p class="product-details">{{product.details}}</p>
          </div>
          <div class="product-pice-quantities flexbox">
            <p class="product-price">R$ {{product.price}}</p>
            <div class="product-quantities flexbox">
              <img (click)="removeProduct(product.id)" src="../../../assets/icon-minus.svg" alt="icon minus">
              <span>{{ productQuantities[product.id] }}</span>
              <img (click)="addProduct(product.id)" src="../../../assets/icon-plus.svg" alt="icon plus" class="icon-plus">
            </div>
          </div>
        </section>
        <img [src]="product.image" alt="{{product.name}}" class="product-img">
      </section>
    </section>
  </section>

  <div *ngIf="isAboveBreakpoint" class="div-app-order">
    <app-order></app-order>
  </div>
</section>