<section class="container-menu">
  <span class="menu-title">Menu</span>
  <div class="menu flexbox">
    <button class="btn breakfast">Café da manhã</button>
    <button class="btn lunch">Almoço</button>
  </div>
  <div class="circle-1"></div>
  <div class="circle-2"></div>

  <div *ngFor="let product of products" class="menu-almoço">
    <div class="information-product">
      <h3> {{product.name}}</h3>
      <p>R$ {{product.price}}</p>
    </div>
    <img [src]="product.image" alt="{{product.name}}">
  </div>
</section>