<section class="products-container flexbox-column">
  <select [(ngModel)]="selectedView" id="select-admin-products">
    <option value="Escolha um filtro" selected disabled>Escolha um filtro</option>
    <option value="list">Lista de Produtos</option>
    <option value="register">Cadastrar Produto</option>
  </select>

  <section *ngIf="selectedView === 'list'" class="products-list-container boxshadow flexbox-column grid">
    <div class="products-list-titles flexbox">
      <span>ID</span>
      <span>Produto</span>
      <span>Preço</span>
      <span>Ação</span>
    </div>
    <div *ngFor="let product of products" class="products-list-data flexbox">
      <div class="flexbox">
        <span class="product-id">{{ product.id }}</span>
        <input [(ngModel)]="product.name" *ngIf="!product.editing" disabled class="product-name user-data" type="text">
        <input [(ngModel)]="product.name" *ngIf="product.editing" class="edit-product-name" type="text">
      </div>
      <div class="products-price-icons flexbox">
        <input [(ngModel)]="product.price" *ngIf="!product.editing" disabled class="product-price user-data" type="text">
        <input [(ngModel)]="product.price" *ngIf="product.editing" class="edit-product-price" type="text">
        <div *ngIf="!product.editing" class="icons-edit-trash flexbox">
          <img (click)="toggleEdit(product)" src="../../../assets/edit-pen-icon.svg" alt="edit pen icon">
          <img (click)="deleteProductConfirmation(product)" src="../../../assets/icon-trash.svg" alt="trash icon">
        </div>
      </div>
      <div *ngIf="product.editing" class="btns-save-cancel flexbox-column">
        <button *ngIf="product.editing" (click)="updateProductsData(product)" class="save-btn">Salvar</button>
        <button *ngIf="product.editing" (click)="cancelEdit(product)" class="cancel-btn">Cancelar</button>
      </div>
      <div *ngIf="product.showConfirmation" class="confirmation-box flexbox-column boxshadow">
        <p>Tem certeza que deseja excluir o produto {{product.name}}?</p>
        <div class="btns flexbox">
          <button (click)="deleteProduct(product)" class="save-btn">Confirmar</button>
          <button (click)="cancelDeleteConfirmation(product)" class="cancel-btn">Cancelar</button>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="selectedView === 'register'" class="register-products-container flexbox-column">
    <form (ngSubmit)="registerProducts()">
      <div class="input-product-container flexbox">
        <img src="../../../assets/id-product-icon.svg" alt="product icon">
        <input [(ngModel)]="productsData.id" type="text" name="id-product" placeholder="Id do produto">
      </div>
      <div class="input-product-container flexbox">
        <img src="../../../assets/tag-product-icon.svg" alt="product icon">
        <input [(ngModel)]="productsData.name" type="text" name="name-product" placeholder="Nome do produto">
      </div>
      <div class="input-product-container flexbox">
        <img src="../../../assets/icon-price.svg" alt="price icon">
        <input [(ngModel)]="productsData.price" type="text" name="price-product" placeholder="Preço do produto">
      </div>
      <div class="input-product-container flexbox">
        <img src="../../../assets/image-icon.svg" alt="imageicon">
        <input [(ngModel)]="productsData.image" type="text" name="image-product" placeholder="URL da imagem">
      </div>
      <div class="input-product-container flexbox">
        <img src="../../../assets/details-icon.svg" alt="details icon">
        <input [(ngModel)]="productsData.details" type="text" name="details-product" placeholder="Detalhes do produto">
      </div>
      <div class="input-product-container flexbox">
        <img src="../../../assets/calendar-icon.svg" alt="data icon">
        <input [(ngModel)]="productsData.dateEntry" type="date" name="data-product">
      </div>
    </form>
    <div class="flexbox-column">
      <span class="select-category">Selecione a Categoria:</span>
      <div class="product-category flexbox">
        <span (click)="selectedType = 'Café da manhã'" [ngClass]="{'product-category-active': selectedType === 'Café da manhã'}" class="span-type">Café da manhã</span>
        <span (click)="selectedType = 'Almoço'" [ngClass]="{'product-category-active': selectedType === 'Almoço'}" class="span-type">Almoço</span>
      </div>
    </div>
    <button (click)="registerProducts()" class="btn-register">Cadastrar Produto</button>
  </section>
</section>