<section class="products-container flexbox-column">
  <select [(ngModel)]="selectedView" id="select-admin-products">
    <option value="Escolha um filtro" selected disabled>Escolha um filtro</option>
    <option value="list">Lista de Produtos</option>
    <option value="register">Cadastrar Produto</option>
  </select>

  <section *ngIf="selectedView === 'list'" class="products-list-container boxshadow flexbox-column">
    <div class="products-list-titles flexbox">
      <span>ID</span>
      <span>Produto</span>
      <span>Preço</span>
    </div>
    <div class="products-list-container flexbox">
      <span>1</span>
      <span>Café Americano</span>
      <span>5</span>
      <div class="icons-edit-trash flexbox">
        <img src="../../../assets/edit-pen-icon.svg" alt="edit pen icon">
        <img src="../../../assets/icon-trash.svg" alt="trash icon">
      </div>
    </div>
  </section>

  <section *ngIf="selectedView === 'register'" class="register-products-container">
    <form action="">
      <div class="input-product-container flexbox">
        <img src="../../../assets/id-product-icon.svg" alt="product icon">
        <input type="text" id="id-product-input" name="id-product" placeholder="Id do produto">
      </div>
      <div class="input-product-container flexbox">
        <img src="../../../assets/tag-product-icon.svg" alt="product icon">
        <input type="text" id="name-product-input" name="name-product" placeholder="Nome do produto">
      </div>
      <div class="input-product-container flexbox">
        <img src="../../../assets/icon-price.svg" alt="price icon">
        <input type="text" id="price-product-input" name="price-product" placeholder="Preço do produto">
      </div>
      <div class="input-product-container flexbox">
        <img src="../../../assets/image-icon.svg" alt="imageicon">
        <input type="text" id="image-product-input" name="image-product" placeholder="URL da imagem">
      </div>
      <div class="input-product-container flexbox">
        <img src="../../../assets/details-icon.svg" alt="details icon">
        <input type="text" id="details-product-input" name="details-product" placeholder="Detalhes do produto">
      </div>
      <div class="input-product-container flexbox">
        <img src="../../../assets/calendar-icon.svg" alt="data icon">
        <input type="text" id="data-product-input" name="data-product" placeholder="dd/mm/aaaa">
      </div>
    </form>
    <div class="flexbox-column">
      <span class="select-category">Selecione a Categoria:</span>
      <div class="product-category flexbox">
        <span>Café da manhã</span>
        <span>Almoço</span>
      </div>
    </div>
    <button class="btn-register">Cadastrar Produto</button>
  </section>
</section>